.habitWrapper {
    padding: 30px 10px 0 !important;
    height: 100%;
}

:global(.MuiDateCalendar-root){
    border: none !important;
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    color: #000000 !important;
}

:global(.MuiPickersCalendarHeader-root) {
    margin: 0 !important;
    padding: 0 !important;
}

:global(.MuiDayCalendar-header), :global(.MuiPickersSlideTransition-root), :global(.MuiDayCalendar-weekContainer){
    width: 100% !important;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    text-align: start !important;
}

:global(.MuiDayCalendar-monthContainer) {
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
    width: 100% !important;
}

:global(.MuiButtonBase-root) {
   margin-right: 0 !important;
}

:global(.MuiPickersFadeTransitionGroup-root), :global(.MuiPickersFadeTransitionGroup-root > div), :global(.MuiPickersFadeTransitionGroup-root > div > div),
:global(.MuiPickersSlideTransition-root) {
    height: 100% !important;
}

:global(.MuiDayCalendar-weekDayLabel) {
    color: #C2C4CA !important;
    font-size: 13px !important;
}

:global(.MuiPickersArrowSwitcher-button) {
    color: #111827 !important;
}
