.habitWrapper {
    padding: 30px 10px 0 !important;
}

:global(.MuiDateCalendar-root){
    border: none !important;
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
}

:global(.MuiDayCalendar-header), :global(.MuiPickersSlideTransition-root), :global(.MuiDayCalendar-weekContainer){
    width: 100% !important;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    text-align: start !important;
}

:global(.MuiDayCalendar-monthContainer) {
    width: 100% !important;
}

:global(.MuiButtonBase-root) {
   margin-right: 0 !important;
}