.habits {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.createHabit {
    padding: 80px 55px 0;
    gap: 16px;
}

.percent {
    color: #000000;
    font-size: 46px;
    font-weight: 600 !important;
}

.habitsDashboard {
    padding: 20px 0 0 !important;
}

.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    background: transparent;
    margin-bottom: 0 !important;
}

.commandMenu {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 10px !important;
    max-width: 360px;
    width: 100%;
}

.plusIcon {
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 8px 10px;
    width: 32px;
    height: 32px;
}

.friendsIcon {
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 8px 7px;
    width: 32px;
    height: 32px;
}

.statisticsIcon {
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 7px 8px;
    width: 32px;
    height: 32px;
}

.settingIcon {
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 7px 10px;
    width: 32px;
    height: 32px;
}

.commandMenuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000 !important;
}

.habitsList {
    color: #000000 !important;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.habitsListItem {
    display: flex;
    flex-direction: column;
    padding: 0 10px !important;
}

.habitTitle {
    color: #000000;
    font-size: 17px;
    margin-bottom: 0 !important;
}

.checkIcon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #111827;
}

.checkIconBig{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #111827;
}

.crossIcon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #7D8391;
}

.crossIconBig {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #7D8391;
}

.missIcon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #D4D9E9;
}

.missIconBig {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #D4D9E9;
}

.daysList {
    display: flex;
    gap: 18px;
    text-align: center;
    padding: 0 !important;
}

.daysWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 !important;
}

.day {
    padding: 0 !important;
    margin: 0 !important;
}

.emptyDay{
    width: 32px;
    height: 32px;
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 0 !important;
    margin: 0 !important;
    cursor: pointer;
}

.statusModal {
    position: relative;
    display: flex;
    gap: 10px;
    background: #FFFFFF !important;
    padding: 10px 15px !important;
}

.statusModalItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}