.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
}

div {
    background: #ffffff;
    .input {
        background: #ffffff;
    }
}