.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    min-height: 100vh;
    height: 100%;
    padding: 0 4px;
    position: relative;
    top: 4px;
    left: 0;
    background: #ffffff;
}

div:has(>.input){
    background: #ffffff !important;
    color: #000 !important;
    width: 100% !important;
    padding: 8px 0 !important;
}

div:has(>.input) label{
    padding-left: 0 !important;
    padding-right: 0 !important;
    box-shadow: none !important;
}

div:has(>.input) input {
    border-bottom: 1px solid #C2C4CA !important;
}

div:has(>.input) input:focus {
    border-bottom: 1px solid #000000 !important;
}

.input {
    background: #ffffff !important;
    color: #000 !important;
}

.input input {
    color: #000 !important;
}

.radioWrapper {
    display: flex;
    margin-top: 10px;
    width: 100%;
    min-height: 32px;
    color: #000000 !important;
    background: #F0F1FB !important;
    border-radius: 16px;
    padding: 1px;
}

.radioWrapper label {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.tab {
    width: 50%;
    color: #C2C4CA !important;
    text-align: center;
}

.tab div {
    background: inherit !important;
    padding: 0 !important;
}

.tab > div span {
    text-align: center;
    width: 100%;
}

.activeTab {
    width: 50%;
    background: #ffffff !important;
    border-radius: 16px;
    padding: 2px;
}

.activeTab div {
    padding: 0 !important;
}

.activeTab > div span{
    text-align: center !important;
    width: 100%;
}

.activeTab span {
    color: #000000 !important;
    font-weight: 400;
    font-size: 14px;
}

.title {
    color: #000000 !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 8px !important;
}

.daysWrapper {
    display: flex;
    gap: 12px;
    padding: 0 !important;
}

.day {
    background: #F0F1FB;
    color: #C2C4CA !important;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 0 !important;
}

.day span {
    text-align: center !important;
    width: 100%;
    font-size: 14px;
}

.activeDay {
    background: #111827;
    color: #ffffff;
}

.frequency, .remindersWrapper, .friendsWrapper {
    padding: 16px 2px 0 !important;
}

:global(.MuiOutlinedInput-notchedOutline) {
    visibility: hidden;
}

:global(.MuiInputBase-root) {
    flex-direction: row-reverse;
    border: none;
    color: #040415 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

:global(.MuiFormControl-root){
    flex: 1;
}

:global(.MuiInputBase-input) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

:global(.MuiButtonBase-root) {
    margin-right: -18px !important;
}

:global(.MuiSvgIcon-root) {
    width: 16px !important;
    height: 16px !important;
}

.reminders {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    background: #EFF1FB !important;
    border-radius: 31px;
    padding: 0 !important;
}

.button {
    display: flex;
    justify-content: flex-start;
    flex: 2;
    background: transparent !important;
    padding: 0 !important;
    max-height: 32px !important;
    color: #040415 !important;
}

.button h6 {
    font-size: 14px !important;
    font-weight: 400 !important;
    padding-right: 5px !important;
}

.reminders div {
    margin-bottom: 0 !important;
    padding-right: 0;
}

.button:hover:after {
    opacity: 0 !important;
}

.reminderDays {
    color: #000000 !important;
}

.reminderDays div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.reminderDay span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.saveButton {
    width: 207px;
    background: #111827 !important;
    margin: 0 auto 20px;
}

.plusButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    background: transparent;
    padding: 0 !important;
}

.plusButton svg {
    width: 24px;
    height: 24px;
}

.actionWrapper {
    padding: 0 !important;
    display: flex;
    align-items: center;
    gap: 12px;
}

.editIcon {
    margin-bottom: 0 !important;
}

.actions {
    padding: 10px 0 0 !important;
}